* {
    margin: 0;
    font-family: Arial;
    border: border-box;
}

.navbar {
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/** Navbar : Box1 **/
.nav_logo {
    height: 50px;
    width: 100px;
}

.nav_logo {
    height: 50px;
    width: 100px;
}

.logo {
    height: 50px;
    width: 100%;
    background-image: url("amazon_logo.png");
    background-size: cover;
}

.border:hover {
    border: 1.5px solid white;
    border-radius: 2px;
}

/** Navbar : Box 2 **/
.add_first {
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;
}

.india {
    color: #ffffff;
    font-size: 1rem;
    margin-left: 3px;
    font-weight: 700;
}

.add_icon {
    display: flex;
    /* align-items: center; */
}

/** Navbar : Box 3 -> Search bar **/
.nav_search {
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    width: 620px;
    height: 40px;
    border-radius: 4px;
}

.nav_search:hover {
    border: 2px solid #febd68;
}

.search-select {
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}

.search-input {
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search_icon {
    width: 45px;
    height: 40xp;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;
}

/**  Navbar : Box4 -> signin **/
.nav-lang {
    display: flex;
}

.country {
    background-color: #0f1111;
    border: none;
    color: white;
    font-weight: 700;
}

/**  Navbar : Box4 -> signin **/
.nav-signin span {
    padding: 3px;
    font-size: 0.7rem;
}

.nav-signin .nav-second {
    font-size: 0.85rem;
    font-weight: 700px;
    background-color: #0f1111;
    color: white;
    border: none;
}

/**  Navbar : Box5 -> **/
.nav-return span {
    font-size: 0.7rem;
}

.nav-return .nav-second {
    font-size: 0.85rem;
    font-weight: 700px;
}

/**  Navbar : Box6 -> Cart **/
.nav-cart i {
    font-size: 30px;
}

.nav-cart {
    font-size: 0.85rem;
    font-weight: 700px;
}


/**  Panel Section  **/
.panel {
    height: 40px;
    display: flex;
    background-color: #222f3d;
    align-items: center;
    justify-content: space-evenly;
    color: white;
}

.panel-ops p{
    display: inline;
    margin: 15px;
}

.panel-ops {
    width: 70%;
    font-size: 0.85rem;
}

.panel-deals {
    font-size: 0.85rem;
    font-weight: 700;
}

/**  Hero Section **/
.hero-section {
    height: 300px;
    background-image: url(hero_image.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-msg {
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    width: 90%;
    margin-bottom: 25px;
}

.hero-msg a {
    color: #007185;
}


/**  Shop Section  **/
.shop-section {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: #e2e7e6;
}

.box {
    margin-top: 20px;
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    font-size: 1rem;
}

.box-content {
    margin-left: 1rem;
    margin-right: 1rem;
}

.box1-prop {
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.box1-imgs {
    height: 30%;
    width: 50%;
    background-size: cover;
}

.box-img {
    background-size: cover;
    height: 300px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.box a {
    text-decoration: none;
    color: cornflowerblue;
}

   /**  Shop Section  --  Box 4  **/
.box4 {
    background-color: #e2e7e6;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.box4-button {
    margin-top: 1rem;
    background-color: yellow;
    border: 2px solid yellow;
    border-radius: 0.35rem;
    height: 2rem;
    width: 100%;
}

.box4-img {
    height: 70%;
    background-image: url(box4.jpg);
    background-size: cover;
    background-position: center;
}

.box4-content {
    padding: 1rem;
    /* padding: 1rem; */
    margin-bottom: 2rem;
    background-color: white;
}

   /**  Shop Section  --  Box 7  **/

.box7-content {
    height: 300px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    
}

.box7-img {
    height: 100%;
    background-size: cover;
    background-position: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.box7-offer {
    display: flex;
    align-items: center;
}

.box7-offer button {
    background-color: rgb(226, 29, 55);
    color: white;
    border: 2px solid rgb(226, 29, 55);
    border-radius: 3px;
    margin-right: 5px;
    margin-bottom: 3px;
    font-size: 0.85rem;
}

.box7-offer p {
    color: rgb(226, 29, 55);
    font-size: 0.75rem;
    font-weight: 700;
}

.box7-content p {
    font-size: 0.84rem;
}

/**  Footer Portion  **/
footer {
    margin-top: 15px;
}

.foot-panel1 {
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}

.foot-panel2 {
    background-color: #222f3d;
    color: white;
    height: 400px;
    display: flex;
    justify-content: space-evenly;
}

ul {
    margin-top: 40px;
}

ul a {
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    text-decoration: none;
    color: #dddddd;
}

.foot-panel3 {
    background-color: #222f3d;
    border-top: 0.5px solid #cccccc48;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foot-panel3 .logo {
    height: 50px;
    width: 100px;
    background-image: url("amazon_logo.png");
    background-size: cover;
}


.foot-panel4 {
    background-color: #0f1111;
    color: white;
    height: 100px;
    font-size: 0.75rem;
    text-align: center;
}

.pages {
    padding-top: 25px;
}

.pages a {
    text-decoration: none;
    color: white;
}

.copyright {
    padding-top: 5px;
}



